*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec{
    position: relative;
    background: #111;
    min-height: 100vh;
    overflow: hidden;
}
.star{
    position: absolute;
    color: #222;
}
.star::before{
    content: '\f005';
    font-family: fontAwesome;
}
.star.animate{
    color: #0f0;
    text-shadow: 0 0 5px #0f0,
    0 0 20px #0f0,
    0 0 50px #0f0;
}
.sec footer{
    position: absolute;
    bottom: 0;
    color: #fff;
}

